.bio {
    padding-top: 25px;
    padding-bottom: 25px;
}

.banner {
}

.banner h3 {
    text-align: center;
}
.SDSU {
    padding-right: 15px;
    height: 150px;
    width: 150px;
}


header {
    background-color: crimson;
    border-color: gold;
    border-width: 20px;
}

footer {
    background-color: crimson;

}

a:link {
    color: black;
}

a:visited {
    color: white;
}