.bio {
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    padding-right: 15px;
    height: 150px;
    width: 150px;
}

header {
    margin-top: 40px;
    background-color: crimson;
}

footer {
    background-color:  crimson;
}

a:link {
    color: black;
}

a:visited {
    color: white;
}