.bio {
    background-color: lightskyblue;
    padding-top: 40px;
    padding-bottom: 40px;
}

hr {

}

header {
    margin-top: 40px;
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}

header h1 {

}